body {
	margin: 0px;
}

header {
	width: 100%;
	height:100px;
	background-color: black;
	border-width: 0 0 5px 0;
	border-color: yellow;
	border-style: solid;
	margin: 0px;
}

.logo {
	position: static;
	color: yellow;
	font-size: 40px;
	font-family: times serif;
	margin: 0px;
}
ul {
	white-space: nowrap;
	position: static;
	padding: 10px 180px;
	margin: 0px;
}

li {
	display: inline;
	color: white;
	font-size: 20px;
	padding-right: 20px;
	margin: 0px;
}

.nav-caps {
	font-size: 26px;
}

.tagline {
	width:100%;
	background-color: grey;
	text-align: center;
	padding: 5px;
	margin: 0px;
	line-height: 0px;
}

footer {
	width: 100%;
	height: 20px;
	background-color: black;
	color: white;
	padding: 10px 20px
}